.owl-carousel {
  &.owl-theme {
    .owl-dots {
      .owl-dot {
        span {
          background-color: #d6d6d6;
          width: 100px;
        }
        &.active {
          span {
            background-color: #0d6efd;
          }
        }
      }
    }
  }
}
.owl-theme {
  &.owl-carousel {
    .owl-nav {
      [className*="owl-"] {
        &:hover {
          background: none;
        }
      }
      button {
        width: 40px;
        height: 40px;
        border: 1px solid #0d6efd !important;
        border-radius: 50%;
        &:hover {
          border-color: red !important;
        }

        &.owl-prev {
          span {
            background: url("https://project-demo.in/symbiosis/siteassets/images/arrow.svg")
              no-repeat 0 0;
            display: block;
            color: #fff;
          }
        }
        &.owl-next {
          span {
            background: url("https://project-demo.in/symbiosis/siteassets/images/arrow.svg")
              no-repeat 0 11px;
            display: block;
            transform: rotate(180deg);
            color: #fff;
          }
        }
      }
      //   button:is(.owl-prev, .owl-next) {
      //     filter: brightness(0) invert(1);
      //     -webkit-filter: brightness(0) invert(1);
      //   }
    }
  }
}

.owl-carousel {
  &.owl-drag {
    .owl-item {
      height: 200px;
      background-color: aquamarine;
      color: black;
    }
  }
}
